.products-list {
    background-color: #28559A;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;

    .product {
        background-color: #3778C2;
        height:70px;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        margin: 20px;
        padding: 5px;
    }
}